<h1>My Bookstore</h1>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {{#each bookLetters}}
            <div class="col-md-2">
                <a href="/getBook/{{this}}" class="btn btn-secondary my-2 btn-width">{{this}}</a>
            </div>
            {{/each}}
        </div>
        <div class="row">
            {{#each bookNumbers}}
            <div class="col-md-2">
                <a href="/getBook/{{this}}" class="btn btn-secondary my-2 btn-width">{{this}}</a>
            </div>
            {{/each}}
        </div>
      </div>
    </div>
  </div>